<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Link Sharing</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li th:if="${session.user}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Topic
                <span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/topic">Enter new topic</a></li>
                    <li><a href="/topics">View Topics</a></li>
                </ul>
            </li>
            <li th:if="${session.user}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Resource
                <span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/linkResource">Link Resource</a></li>
                    <li><a href="/documentResource">Document Resource</a></li>
                </ul>
            </li>

            <li th:unless="${session.user}"><a href="/signup"><span class="glyphicon glyphicon-user"/>Sign up</a></li>
            <li th:unless="${session.user}"><a href="/login"><span class="glyphicon glyphicon-log-in" ></span>LogIn</a></li>
            <li th:if="${session.user}"><a href="/login"><span class="glyphicon glyphicon-log-in" ></span>LogOut</a></li>
            <li th:if="${session.user}"><a href="/subscription"><span class="glyphicon glyphicon-log-in" ></span>Subscription</a></li>
            <li th:if="${session.user}"><a href="/crud"><span class="glyphicon glyphicon-log-in"></span> Manage Accounts</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
