<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/frontpage.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:replace="fragments/NavBar :: header">...</div>

<h2>User Log In</h2>
<div th:if="${!status}" th:text="${message}" class="alert alert-danger"/>
<form action="/checklogin" method="post">

    <div class="container">


        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>


    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="submit" class="signup">Login</button>


        <button type="button" class="cancelbtn">Cancel</button>

    </div>
</form>


</body>
</html>