<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/frontpage.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/NavBar :: header">...</div>

<form action="/savesubscription" method="post" >


    <div class="container">
        <input type="hidden" name="id" th:value="${id}">

        <label for="subscription"><b>User</b></label>
        <select class="form-control" name="user.id">
            <option>-Select-</option>
            <option th:each="user:${users}" th:text="${user.username}" th:value="${user.id}"></option>
        </select>


        <label for="subscription"><b>Topic</b></label>
        <select class="form-control" name="topic.id">
            <option>-Select-</option>
            <option th:each="topic:${topics}" th:text="${topic.name}" th:value="${topic.id}"></option>
        </select>



        <label for="seriousness"><b>seriousness</b></label>
        <select class="form-select-button" name="seriousness" th:value="${seriousness}">
            <option value="Serious">Serious</option>
            <option value="Very Serious">Very Serious</option>
            <option value="Casual">Casual</option>
        </select>

    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="submit" class="signup" th:text="${id}?'Update':'Save'"/>


        <button type="button" class="cancelbtn">Cancel</button>

    </div>
</form>
<div class="container">
    <input type="text" placeholder="Enter the id" name="id" id="searchId" required>
    <a id="deleteSubscription" href="#">Delete</a>
    <a id="editSubscription" href="#">Edit</a>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#searchId").on('input', function () {
            var value = $("#searchId").val();
            $("#deleteSubscription").attr('href', '/subscription/delete/' + value);
            $("#editSubscription").attr('href', '/subscription/edit/' + value);
        })
    });

</script>

</body>
</html>