<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/frontpage.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/NavBar :: header">...</div>


<h2>Topic</h2>

<form action="/save" method="post" th:object="${topic}">

    <div class="container">
        <hr>
        <input type="hidden" name="id" required th:value="${topic.id}">

        <label for="name"><b>Topic Name</b></label>
        <input type="text" placeholder="Enter Username" name="name" required th:value="${topic.name}">

        <label for="visibility"><b>visibility</b></label>
        <select class="form-select-button" name="visibility" th:value="${topic.visibility}">
            <option selected>-Select-</option>
            <option value="PUBLIC">Public</option>
            <option value="PRIVATE">Private</option>
        </select>


    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="submit" class="btn btn-success" th:text="${topic.id}?'Update':'Save'"/>


        <button type="button" class="cancelbtn">Cancel</button>

    </div>
</form>


</body>
</html>